.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}

.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}
